.my-experiences {
  margin-top: 6rem !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.experiences-title {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 5px;
}

.create-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}