.big-user-container {
  width: 50%;
  margin: 90px auto 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#user-container {
  justify-content: space-around;
}


.buttons-users {
  margin: 20px;

}

.form-actions btn {
  margin: 20px;
}
