 <div class="modal fade" id="order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [order.experience, order] do |f| %>
                <%= f.input :attendees, placeholder: 'Add number of people' %>
                <%= f.input :date, as: :date, html5: true %>
                <%= f.button :submit, class: 'btn btn-outline-dark' %>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
