<div class="container my-showcase">


  <h1 style="font-weight: bolder">Where is your next destination?</h1>
  <p style="font-size: 16px;">Here you have some examples of the most popular experiences offered on Like a Local! Check it out!</p>

    <div class="showcase-cards">

      <div class="card-showcase">
        <img src="https://images.unsplash.com/photo-1605433247501-698725862cea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="baking-grandma">
        <h3>Baking with Grandma Lili</h3>
        <p>Traveling with kids? Grandma Lili will entertain them baking cookies and cupcakes. Enjoy the fireplace in the mean time!</p>

      </div>

      <div class="card-showcase">
        <img src="https://higherfirestudios.com/wp-content/uploads/2020/02/homepage-welcome.jpg" alt="pottery">
        <h3>Pottery and wine in Paris</h3>
        <p>Greg has a sweet studio facing his green backyard in Paris. Some wine, cheese and baguette after you build your pots.</p>
      </div>

      <div class="card-showcase">
        <img src="https://www.beveragedaily.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/article/2018/04/16/ab-inbev-we-see-homebrewing-as-a-natural-expansion-of-craft-brewing/8067474-3-eng-GB/AB-InBev-We-see-homebrewing-as-a-natural-expansion-of-craft-brewing.jpg" alt="home-brew">
        <h3>Beer Brew in Brussels</h3>
        <p>For those who appreciate the Belgium beers, let's brew it? Louis opens his doors for this experience. Of course, all of it while you try his best recipes! </p>
      </div>

      <div></div>

      <button class="btn btn-primary" onclick="window.location.href='/experiences#my-banner'">Book an Experience</button>


  </div>
</div>
