<div class="container">
  <h1>Experiences</h1>
  <ul>
    <% @experiences.each do |experience| %>
    <li><%= link_to experience.title, experience_url(experience) %>
      <%= link_to "Remove", experience_path(experience),
                method: :delete,
                data: { confirm: "Are you sure?" } %> </li>
    <% end %>
  </ul>
</div>
