// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "notification";

.show-body {
  width: 70%;
  margin: 0 auto;
}

.my-container {
  display: grid;
  grid-template-columns: 30% 1fr;
}
